= form_for @user, url: register_user_path do |f|
  .field
    = f.text_field :email, placeholder: 'Email', label: false
  .field#send_time.time.ui-timepicker-input
    = f.password_field :password, placeholder: 'Password', label: false
  .field
    = f.password_field :password_confirmation, placeholder: 'Password Confirmation', label: false
  .actions
    = f.submit class: 'button', id: 'landing_submit', value: 'Sign up'

  