= form_for @text_message do |f|
  - if @text_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@text_message.errors.count, "error")} prohibited this text_message from being saved:"
      %ul
        - @text_message.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :text_body
    = f.text_field :text_body
  .field#send_time.time.ui-timepicker-input
    = f.label :send_time
    = f.text_field :send_time
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .actions
    = f.submit 'Submit'

  
