
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  / %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  
  %title= content_for?(:title) ? yield(:title) : "Bonsai"
  
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,200italic,400italic|Bubblegum+Sans|Gochi+Hand|Titillium+Web:400,200,200italic,400italic,600"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body
  .row
    / -flash.each do |name, msg|
    /   %div{ class: "flash #{name}" }
    /     %p
    /       %span.close
    /         &#215;
    /       =msg.html_safe
    = display_flash_messages
    
    = yield

  = javascript_include_tag "application"
  
  :javascript
    
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(q,d)}(window,document,'script','_gs');
    
    _gs('GSN-263187-N');